* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back_video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.header {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    /* background: #080008; */
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    margin-top: 5%;
    color: white;
    cursor: pointer;
    position: relative;
}

.nav_links {
    padding: 28px 0;
}

.nav_links li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 4px;
    position: relative;
}

.nav_links li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(194, 194, 84, 0.74);
    transition: 0.4s;
    transform: scale(0);
    border-radius: 4px;
}

.nav_links li a:hover::before {
    transform: scale(1.3);
}

.btn {
    background: linear-gradient(90deg, #6b0404 40%, rgb(197, 34, 6) 60%);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
}

.content {
    position: absolute;
    left: 25%;
    top: 50%;
    /* max-width: 900px; */
    transform: translate(-50%, - 50%);
    width: 50%;
    text-align: center;
    color: white;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 600;
}

.content form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.content input {
    flex: 1;
    padding: 0 20px;
    outline: none;
    border: none;
    font-size: 20px;
}

.content form button {
    background: #031321;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
}

.category_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.category {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.category img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

#span2 {
    position: absolute;
    top: 52px;
    right: 20px;
    color: black;
    font-size: 40px;
    display: none;
}


/* @media(max-aspect-ratio: 16/9) {
    .back_video {
        width: auto;
        height: 100%;
    }
} */

@media screen and (max-width:425px) {
    #span2 {
        display: block;
        font-size: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .header {
        height: 100vh;
        transition: height 2s;
        display: none;
        width: 100%;
    }
    .content {
        display: none;
    }
    .logo {
        display: none;
    }
    nav {
        width: 100%;
    }
    nav ul {
        width: 100%;
    }
    .header nav ul li {
        display: block;
        margin: 20px;
        text-align: center;
    }
    .btn {
        display: none;
    }
}